#circle {
   width: 250px;
   height: 250px;
   background: black;
   border-radius: 50%;
   display: inline-block;
   margin: 5px;
   float: left;

 }

 .card {
   background-color: black;
 }

.center {
  text-align: center;
}

.test {
  width: 250px;
  height: 250px;
  background: black;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;

}


.main {
  text-align: center;
  background: url("../img/philly.png");
  background-size: contain 500px 500px;
  height: 900px;
  width: 800px;
  background-repeat: no-repeat;
  display: inline-block;
  padding: 10px;
}



body {
  background-color: black;
}
.row {
  width: 250px;
  height: 250px;


  float: right;

}

.container {
  width: 400px;
  height: 400px;
  float: right;
}
