#circle {
   width: 250px;
   height: 250px;
   background: black;
   border-radius: 50%;
   display: inline-block;
   margin: 5px;
   float: left;

 }

 .move {
   text-align: center;
 }

.red {
  color: red;
}
.title {
  display: block;
  font-weight: bolder;
  font-variant: small-caps;

}

.titlerepo {

  font-weight: bolder;
  font-variant: small-caps;
}



.control-dog {

  position:  fixed;
  bottom: 5px;
  center: 0px;

}


li {
  text-align: left;
}
p {
  text-align: left;
}


.center {
  text-align: center;
}

.modal-title {
  color: red;
}

.modal-body {
  text-align: center;
  font-size: 20px;
}

.main {
  text-align: center;
  background: url("../img/philly2.jpg");
  background-size: 900px 900px;
  height: 900px;
  width: 900px;
  display: inline-block;
  padding: 10px;
  background-repeat: no-repeat;

}

.modal-body {
  color: white;
}

.holder {
  text-align: center;
}
.special {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: inline-flex;
}


.container {
  width: 400px;
  height: 400px;
  float: right;
}


.sidephotos {
  width: 200px;
  height: 300px;
  float: left;
}


.me {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.body {

  font: inherit;
}


/* Start http://www.cursors-4u.com */ * {cursor: url(http://cur.cursors-4u.net/sports/spo-1/spo14.ani), url(http://cur.cursors-4u.net/sports/spo-1/spo14.png), auto !important;} /* End http://www.cursors-4u.com */
